body {
    background-color: #FFFFFF; /* FONDO BLANCO PURO */
    color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.centrado {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.estiloborder {
    border: 3px solid #0A3D62;
}

header {
    background-color: #0A3D62; /* azul petróleo */
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #06273F; /* azul más oscuro */
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

a:hover {
    background-color: rgba(255,255,255,0.15);
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #06273F;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
}

/* Botón Login */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-login {
    background-color: #ffffff;
    color: #0A3D62;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #0A3D62;
}

.btn-login:hover {
    background-color: #E7ECF1;
}

