<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACERCA DE</title>
</head>
<body>
    <h1>ACERCA DE</h1>
    <a href="/">VOLVER AL INCIO</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quisquam quod inventore 
        dolorum doloremque non velit architecto natus. 
        Vero voluptatem hic obcaecati magni voluptas iure dolorem nemo architecto aut sint!</p>
</body>
</html>