<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>PAGINA DE INICIO</h1>
    <a href="/acercade">ACERCA DE</a>
    <a href="/categorias">CATEGORIAS</a>
    <a href="/contacto">CONTACTOS</a>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit incidunt 
        cum consequatur ipsa distinctio aut et iste deserunt mollitia? Fugit 
        inventore debitis corrupti delectus velit dolor commodi perferendis sequi! Nihil?</p>
</body>
</html>