<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS</title>
</head>
<body>
    <h1>TODOS LOS EVENTOS</h1>
    <a href="/">VOLVER AL INCIO</a>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Tempora possimus repellendus quis quod, nobis beatae rem nemo, officia, 
        alias quibusdam dolor eius at veritatis. 
        Repellendus aspernatur molestias accusantium corrupti temporibus?</p>
    
</body>
</html>